In [1]:
import json
import pandas as pd
import ast
from pandas import json_normalize

## Carga y limpieza del archivo: australian_users_items.json

In [ ]:
""" # codigo comentado para que no se ejecute!

Lista_items = []
# Abro un archivo, señalizando que tiene un encoding 'utf-8'
with open("data/australian_users_items.json", "r", encoding="utf-8") as file:
  # Leo cada linea con el bucle for
  for line in file.readlines():
      # lee todas las líneas del archivo y las coloca en una lista de cadenas.
    Lista_items.append(ast.literal_eval(line))
# Convierto el archivo a un data frame
df = pd.DataFrame(Lista_items)
# Abro los archivos
df
"""

In [3]:
# Genero el CSV para leer los datos desde ahi y tardar menos (Se hace una sola vez)

#df = pd.DataFrame(Lista_items)
#df.to_csv("australian_users_items_Transformado.csv", index=False)

In [4]:
# Cargo el dataframe a la variable df 

csv_ruta = "data/australian_users_items_Transformado.csv"

df = pd.read_csv(csv_ruta)

In [5]:
# Convierte el DataFrame a formato Parquet
# df.to_parquet('data/australian_users_items_parquet.parquet', engine='pyarrow')

In [11]:
# Cargo el dataframe a la variable df_parquet. De forma mas eficiente que el csv

csv_ruta_parquet = "data/australian_users_items_parquet.parquet"

df_parquet = pd.read_parquet(csv_ruta_parquet)

In [12]:
# Verificar si hay valores nulos en el DataFrame
print(df.isnull().sum())

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [13]:
# Verificar y contar los duplicados en todo el DataFrame
print(df.duplicated().sum())

657

In [14]:
# Agrupo los duplicados en el DataFrame llamado duplicados
duplicados = df[df.duplicated()]
duplicados

,user_id,items_count,steam_id,user_url,items
865,bokkkbokkk,0,76561198006988360,http://steamcommunity.com/id/bokkkbokkk,[]
1732,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad,"[{'item_id': '20', 'item_name': 'Team Fortress..."
2343,76561198079743094,48,76561198079743094,http://steamcommunity.com/profiles/76561198079...,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
2344,ImSeriouss,50,76561198055318375,http://steamcommunity.com/id/ImSeriouss,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
2394,76561198069124937,0,76561198069124937,http://steamcommunity.com/profiles/76561198069...,[]
...,...,...,...,...,...
48944,76561198035336388,5,76561198035336388,http://steamcommunity.com/profiles/76561198035...,"[{'item_id': '22600', 'item_name': 'Worms Relo..."
67355,76561198071790027,0,76561198071790027,http://steamcommunity.com/profiles/76561198071...,[]
69344,darkus0haos,122,76561198073621277,http://steamcommunity.com/id/darkus0haos,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
73424,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...,"[{'item_id': '50', 'item_name': 'Half-Life: Op..."
77045,farquadian,0,76561198086134170,http://steamcommunity.com/id/farquadian,[]

In [15]:
# Elimino los duplicados guardandolo en la misma variable para limpiar el df
df = df.drop_duplicates()

In [16]:
# Genero una copia del df a la variable con nombre mas acorde 
users_items = df.copy()
users_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

Cargue el data frame y elimine los duplicados, no tiene nulos!

In [17]:
from ast import literal_eval

In [18]:
# Convierto los datos 'str' en listas de Python
users_items['items'] = users_items['items'].apply(literal_eval)

In [19]:
# Usar explode para convertir listas en filas individuales
users_items = users_items.explode('items')

In [20]:
# Aplicar json_normalize a la columna 'items' para expandir los diccionarios
items_col = pd.json_normalize(users_items['items'])
items_col

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6.0,0.0
1,20,Team Fortress Classic,0.0,0.0
2,30,Day of Defeat,7.0,0.0
3,40,Deathmatch Classic,0.0,0.0
4,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...
5113966,373330,All Is Dust,0.0,0.0
5113967,388490,One Way To Die: Steam Edition,3.0,3.0
5113968,521570,You Have 10 Seconds 2,4.0,4.0
5113969,519140,Minds Eyes,3.0,3.0
5113970,NaN,NaN,NaN,NaN

In [21]:
# Reseteo los indices para no tener problemas al hacer el join
users_items.reset_index(drop=True, inplace=True)
items_col.reset_index(drop=True, inplace=True)

In [22]:
# Genero el join de los dos dataframe
users_items = users_items.join(items_col)

In [23]:
# Elimino la columna 'reviews' que normalize en el codigo anterior por que ya no sirve
users_items = users_items.drop('items', axis=1)

users_items.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0

In [24]:
df1 = users_items.copy()

Primer proceso de carga y limpieza terminado para el archivo de users_items

----
----
----

## Carga y limpieza del archivo: australian_user_reviews.json

In [18]:
"""

Lista_items_2 = []
# Abro un archivo, señalizando que tiene un encoding 'utf-8'
with open("australian_user_reviews.json", "r", encoding="utf-8") as file:
  # Leo cada linea con el bucle for
  for line in file.readlines():
      # lee todas las líneas del archivo y las coloca en una lista de cadenas.
    Lista_items_2.append(ast.literal_eval(line))
# Convierto el archivo a un data frame
df2 = pd.DataFrame(Lista_items_2)
# Abro los archivos
df2

"""

'\n\nLista_items_2 = []\n# Abro un archivo, señalizando que tiene un encoding \'utf-8\'\nwith open("australian_user_reviews.json", "r", encoding="utf-8") as file:\n  # Leo cada linea con el bucle for\n  for line in file.readlines():\n      # lee todas las líneas del archivo y las coloca en una lista de cadenas.\n    Lista_items_2.append(ast.literal_eval(line))\n# Convierto el archivo a un data frame\ndf2 = pd.DataFrame(Lista_items_2)\n# Abro los archivos\ndf2\n\n'

In [26]:
# Cargo el df2 desde el CSV
csv_ruta_2 = "data/australian_user_reviews_Transformado.csv"
df2 = pd.read_csv(csv_ruta_2)

In [28]:
df2.head(2)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."

In [29]:
# Verificar si hay valores nulos en el DataFrame
print(df2.isnull().sum())

user_id     0
user_url    0
reviews     0
dtype: int64

In [30]:
# Verificar y contar los duplicados en todo el DataFrame
print(df2.duplicated().sum())

313

In [31]:
# Agrupo los duplicados en el DataFrame llamado duplicados: Lo hice para ver que tipos de dato se repiten
duplicados_2 = df2[df2.duplicated()]
duplicados_2

,user_id,user_url,reviews
456,bokkkbokkk,http://steamcommunity.com/id/bokkkbokkk,"[{'funny': '', 'posted': 'Posted September 24,..."
1182,ImSeriouss,http://steamcommunity.com/id/ImSeriouss,"[{'funny': '', 'posted': 'Posted January 10, 2..."
1456,76561198062039159,http://steamcommunity.com/profiles/76561198062...,"[{'funny': '', 'posted': 'Posted August 24, 20..."
1477,76561198045009232,http://steamcommunity.com/profiles/76561198045...,"[{'funny': '', 'posted': 'Posted October 31, 2..."
1746,nitr0ticwolf,http://steamcommunity.com/id/nitr0ticwolf,"[{'funny': '', 'posted': 'Posted December 12, ..."
...,...,...,...
17819,76561198076474887,http://steamcommunity.com/profiles/76561198076...,"[{'funny': '', 'posted': 'Posted April 12.', '..."
17916,yolofaceguy,http://steamcommunity.com/id/yolofaceguy,"[{'funny': '', 'posted': 'Posted October 31, 2..."
18028,76561198075591109,http://steamcommunity.com/profiles/76561198075...,"[{'funny': '', 'posted': 'Posted December 26, ..."
18234,76561198092022514,http://steamcommunity.com/profiles/76561198092...,"[{'funny': '', 'posted': 'Posted July 3.', 'la..."
18309,SuchGayMuchWow,http://steamcommunity.com/id/SuchGayMuchWow,"[{'funny': '', 'posted': 'Posted July 18, 2015..."

In [32]:
# Elimino los duplicados guardandolo en la misma variable para limpiar el df
df2 = df2.drop_duplicates()

Revision de nulos y repetidos eliminados! <br>
Primer etapa de carga y limpieza terminada

## Carga y limpieza del archivo: output_steam_games.json

In [37]:
import json

Lista_items_3 = []
# Abro un archivo, señalizando que tiene un encoding 'utf-8'
with open("data/output_steam_games.json", "r", encoding="utf-8") as file:
    for line in file:
        # Carga la info a data
        data = json.loads(line)
        # Agrego cada linea en la lista
        Lista_items_3.append(data)

In [38]:
# Convierto el archivo a un data frame
df3 = pd.DataFrame(Lista_items_3)
# Abro los archivos
df3.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Genero el CSV una sola vez por eso lo comente
# df3.to_csv("data/output_steam_games_Transformado.csv", index=False)

In [ ]:
# Cargo todo con el codigo anterior, ya que corre rapido! por eso esta comentado

# df3 = pd.read_csv("data/output_steam_games_Transformado.csv")

In [39]:
# Verificar si hay valores nulos en el DataFrame
print(df3.isnull().sum())

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

In [41]:
# Borro todos los campos vacios
df3.dropna(inplace=True)

In [45]:
df3.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [46]:
df3.head(1)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro

In [42]:
# Verificar si hay valores nulos en el DataFrame --> Verificamos nuevamente y no hay mas NaN
print(df3.isnull().sum())

publisher       0
genres          0
app_name        0
title           0
url             0
release_date    0
tags            0
reviews_url     0
specs           0
price           0
early_access    0
id              0
developer       0
dtype: int64

In [43]:
# Convertir las listas a tuplas en la columna 'columna_con_listas'
df3['columna_con_tuplas'] = df3['tags'].apply(tuple)

In [44]:
# Verificar filas duplicadas basadas en la nueva columna con tuplas
duplicados = df3.duplicated(subset='tags')

# Filtrar las filas duplicadas (manteniendo la primera ocurrencia)
df3_sin_duplicados = df3[~duplicados]

In [45]:
# Eliminar la columna temporal con tuplas si no la necesitas
df3_sin_duplicados.drop('columna_con_tuplas', axis=1, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13828\2316834588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_sin_duplicados.drop('columna_con_tuplas', axis=1, inplace=True)

In [46]:
df3 = df3_sin_duplicados

In [52]:
df3.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd

Terminada la carga y primer limpieza de steam games

## Analizo Columnas de todos los DataFrame!

In [53]:
df3.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [54]:
df1.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'item_id',
       'item_name', 'playtime_forever', 'playtime_2weeks'],
      dtype='object')

In [55]:
df2.columns

Index(['user_id', 'user_url', 'reviews'], dtype='object')

DataFrame3
Columnas necesarias:
- publisher
- genres
- app_name?
- title
- release_date
- id
- developer

Columnas NO necesarias:
- url
- tags?
- reviews_url
- specs
- price
- early_access

DataFrame 1: user_id', 'items_count', 'steam_id', 'user_url', 'items'
Columnas necesarias:
- user_id
- items_count
- steam_id
- items -->  hs jugadas y semanas mucha info

Columnas NO necesarias:
- user_url

DataFrame 2:'user_id', 'user_url', 'reviews'
Columnas necesarias:
- user_id
- reviwes

Columnas NO necesarias:
- user_url

In [47]:
df1_col_ON = ['user_id', 'items_count', 'steam_id', 'item_id',
       'item_name', 'playtime_forever', 'playtime_2weeks']
df2_col_ON = ['user_id', 'reviews']
df3_col_ON = ['publisher', 'genres', 'app_name', 'title', 'release_date', 'price', 'id','developer']

In [48]:
df1_limpio = df1[df1_col_ON]
df2_limpio = df2[df2_col_ON]
df3_limpio = df3[df3_col_ON]

# Acomodo campos internos para dejar los DataFrame final a analizar

# DataFrame 1 --> australian_users_items.json

In [49]:
# Volvemos a darle el nombre users_items al dataframe para mas comprensión
users_items = df1_limpio.copy()

# DataFrame 3  --> output_steam_games.json

In [50]:
# Con la función explode en la columna 'genres', separo cada item de la lista en una fila del dataframe
df3_expandido = df3_limpio.explode('genres')

In [51]:
# Por ahora este es el dataset3 final a analizar!
df3_expandido.head()

# Lo renombro para poder ubicarlo más rapido
steam_games = df3_expandido.copy()
# Reseteo los indices para dejarlo prolijo
steam_games.reset_index(drop=True, inplace=True)
steam_games.head()

,publisher,genres,app_name,title,release_date,price,id,developer
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro

In [52]:
# Identificar los registros con campos vacíos en la columna 'release_date'
registros_vacios_release_date = steam_games.loc[steam_games['release_date'].isna()]

# Imprimir los registros con campos vacíos en 'release_date'
registros_vacios_release_date

Empty DataFrame
Columns: [publisher, genres, app_name, title, release_date, price, id, developer]
Index: []

In [53]:
# Eliminar los registros con campos vacíos en la columna 'release_date'
steam_games = steam_games.dropna(subset=['release_date'])

steam_games

,publisher,genres,app_name,title,release_date,price,id,developer
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
...,...,...,...,...,...,...,...,...
34333,Bidoniera Games,Adventure,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
34334,Bidoniera Games,Casual,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
34335,Bidoniera Games,Indie,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games
34336,SIXNAILS,Casual,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"
34337,SIXNAILS,Indie,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns"

In [54]:
# Convertir la columna release_date a formato de fecha
steam_games['release_date'] = pd.to_datetime(steam_games['release_date'], errors='coerce')

In [55]:
#Si hay campos vacios borrarlos!
steam_games = steam_games.dropna()

In [56]:
# Si solo deseas conservar el año, puedes extraerlo después de la conversión
steam_games['year'] = steam_games['release_date'].dt.year.astype(int)

# Imprimir el DataFrame resultante
steam_games

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13828\34841279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steam_games['year'] = steam_games['release_date'].dt.year.astype(int)

,publisher,genres,app_name,title,release_date,price,id,developer,year
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
...,...,...,...,...,...,...,...,...,...
34333,Bidoniera Games,Adventure,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34334,Bidoniera Games,Casual,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34335,Bidoniera Games,Indie,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34336,SIXNAILS,Casual,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017
34337,SIXNAILS,Indie,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017

In [57]:
# Verificar si hay campos vacíos en la columna 'year'
hay_campos_vacios = steam_games['year'].isna().any()
hay_campos_vacios

False

# DataFrame 2  --> australian_user_reviews.json

In [58]:
from ast import literal_eval

In [59]:
# Convierto los datos 'str' en listas de Python
df2_limpio['reviews'] = df2_limpio['reviews'].apply(literal_eval)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13828\2826223319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_limpio['reviews'] = df2_limpio['reviews'].apply(literal_eval)

In [60]:
# Usar explode para convertir listas en filas individuales
users_reviews = df2_limpio.explode('reviews')
users_reviews.head()

             user_id                                            reviews
0  76561197970982479  {'funny': '', 'posted': 'Posted November 5, 20...
0  76561197970982479  {'funny': '', 'posted': 'Posted July 15, 2011....
0  76561197970982479  {'funny': '', 'posted': 'Posted April 21, 2011...
1            js41637  {'funny': '', 'posted': 'Posted June 24, 2014....
1            js41637  {'funny': '', 'posted': 'Posted September 8, 2...

In [61]:
# Aplicar json_normalize a la columna 'reviews' para expandir los diccionarios
reviews_col = pd.json_normalize(users_reviews['reviews'])
reviews_col

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
58454,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58455,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58456,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58457,,Posted July 20.,,730,No ratings yet,True,:D
58458,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [62]:
# Reseteo los indices para no tener problemas al hacer el join
users_reviews.reset_index(drop=True, inplace=True)
reviews_col.reset_index(drop=True, inplace=True)

# Genero el join de los dos dataframe
users_reviews = users_reviews.join(reviews_col)

# Elimino la columna 'reviews' que normalize en el codigo anterior por que ya no sirve
users_reviews = users_reviews.drop('reviews', axis=1)

users_reviews.head()

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

# Data Frames Finales

In [63]:
# El archivo 'australian_users_reviews.json' devuelve este DataFrame limpio
users_reviews.head(2)

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.

In [64]:
# El archivo 'output_steam_games.json' devuelve este DataFrame limpio
steam_games.head(2)

,publisher,genres,app_name,title,release_date,price,id,developer,year
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018

In [65]:
# El archivo 'australian_users_items.json' devuelve este DataFrame limpio
users_items.head(2)

,user_id,items_count,steam_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,20,Team Fortress Classic,0.0,0.0

# Genero el Feature Engineering solicitado para el DataFrame 'users_reviews'

Feature Engineering: En el dataset user_reviews se incluyen reseñas de juegos hechos por distintos usuarios. Debes crear la columna 'sentiment_analysis' aplicando análisis de sentimiento con NLP con la siguiente escala: debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. Esta nueva columna debe reemplazar la de user_reviews.review para facilitar el trabajo de los modelos de machine learning y el análisis de datos. De no ser posible este análisis por estar ausente la reseña escrita, debe tomar el valor de 1.

In [66]:
users_reviews

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...
58454,76561198312638244,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58455,76561198312638244,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58456,LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58457,LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
58458,LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [67]:
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk

In [80]:
# Se instala una vez!
# nltk.download('vader_lexicon')

In [68]:
# 'review' es la columna que quiero convertir a tipo str
users_reviews['review'] = users_reviews['review'].astype(str)

# Verifica si todos los elementos ahora son de tipo str
todos_son_str = users_reviews['review'].apply(lambda x: isinstance(x, str)).all()

# Imprimir el resultado
print("¿Todos los elementos son de tipo str?", todos_son_str)

¿Todos los elementos son de tipo str? True

In [69]:
# Creeo una instancia del SentimentIntensityAnalyzer con la variable sia (inciales)
sia = SentimentIntensityAnalyzer()

# Agrego la columna solicitada y se le asigna los valores
users_reviews['sentiment_analysis'] = users_reviews['review'].apply(lambda x: sia.polarity_scores(x)['compound'])

# Asigna valores según la escala dada
users_reviews['sentiment_analysis'] = users_reviews['sentiment_analysis'].apply(lambda x: 0 if x < -0.05 else (2 if x > 0.05 else 1))

# En caso de reseñas ausentes, asigna el valor 1
users_reviews['sentiment_analysis'].fillna(1, inplace=True)

# Elimina la columna original de 'reviews' 
users_reviews.drop('review', axis=1, inplace=True)

In [83]:
users_reviews.head(2)

,user_id,funny,posted,last_edited,item_id,helpful,recommend,sentiment_analysis
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,2
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,2

In [84]:
# En la variable counts guardo la cantidad de reseñas de cada tipo
counts = users_reviews['sentiment_analysis'].value_counts()

# Muestro la cantidad de datos malos, neutrales y positivos. Solamente para tener nocion de cantidades
print(counts)

sentiment_analysis
2    36878
1    12116
0     9465
Name: count, dtype: int64

# Ya definidos los DataFrame , los gaurdamos como base1 en un archivo CSV

In [71]:
# Comentado por que ya estan guardados!

# users_reviews.to_csv("users_reviews_base1.csv", index=True)
# steam_games.to_csv("steam_games_base1.csv", index=True)
# users_items.to_csv("users_items_base1.csv", index=True)

# users_items.to_parquet("data/users_items_base1.parquet", index=True)

Como users_items_base1 pesa mas de 100mb lo guardamos en formato parquet

# Proceso inicial del Proyecto Individual terminado!

Se hizo la carga, la limpieza y el ordenamiento de los data frame, llegando a una version final base1 como primera instancia.

Seguiremos por la instacia 2, la cual es hacer las funciones solicitadas en otro jupiter notebook.

Para las funciones se cargaran los siguientes DataFrame:
- "users_reviews_base1.csv"
- "steam_games_base1.csv"
- "users_items_base1.csv"


En caso que las funcionees requieran un DataFrame con menos información se generara una reducción de datos de esta base1!

# Muestras de dataframes para ir viendo datos!

In [86]:
users_items

,user_id,items_count,steam_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...
5113966,76561198329548331,7,76561198329548331,373330,All Is Dust,0.0,0.0
5113967,76561198329548331,7,76561198329548331,388490,One Way To Die: Steam Edition,3.0,3.0
5113968,76561198329548331,7,76561198329548331,521570,You Have 10 Seconds 2,4.0,4.0
5113969,76561198329548331,7,76561198329548331,519140,Minds Eyes,3.0,3.0
5113970,edward_tremethick,0,76561198331598578,NaN,NaN,NaN,NaN

In [87]:
steam_games

,publisher,genres,app_name,title,release_date,price,id,developer,year
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018
...,...,...,...,...,...,...,...,...,...
34333,Bidoniera Games,Adventure,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34334,Bidoniera Games,Casual,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34335,Bidoniera Games,Indie,Kebab it Up!,Kebab it Up!,2018-01-04,1.99,745400,Bidoniera Games,2018
34336,SIXNAILS,Casual,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017
34337,SIXNAILS,Indie,EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,4.99,658870,"xropi,stev3ns",2017